@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* @theme {
  --font-display:  "Outfit"
  --breakpoint-3xl: 1920px;
} */
* {
  font-family: Outfit;
}

@layer utilities {
  .course-details-heading-small {
    @apply text-[26px];
  }
  .course-details-heading-large {
    @apply text-[36px];
  }
  .text-home-heading-large {
    @apply text-[45px];
  }
  .text-home-heading-small {
    @apply text-[30px];
  }
  .custom-btn {
    @apply bg-blue-600 hover:bg-blue-950 rounded text-white md:px-10 px-7 md:py-3 py-2 mx-1;
  }
}
